@font-face {
    font-family: Seravek;
    src: url("../fonts/SeravekBasicTT-Bold.ttf");
}

body {
    background-image: url("../media/cover_photo.jpeg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }

section {
    display: flex;
}

.about-us {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: left;
    margin-top: 25vmax;
    margin-bottom: 25vmax;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Seravek;
}

.about-us-text-div { 
    margin-top: 10px;
    right: -10px;
    left: -10px;
}

.about-us-text {
    color: rgb(32, 32, 32);
    font-family: Seravek;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: rgba(255, 255, 255, 1);
    font-family: Seravek;
    min-width: 1200px;
    max-width: 1200px;
    min-height: 500px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.section-info {
    margin-left: 50px;
    padding-right: 20px;
    padding-top: 70px;
    box-shadow: 10px 0px 15px -3px rgba(0, 0, 0, 0.1);
    width: 800px ;
}

.section-heading {
    font-size: 35px;
    font-family: Seravek;
    font-weight: bold;
    margin-top: 55px;
    margin-bottom: 20px;
}

.logos-right-panel {
    min-width: 66%;
    position: relative;
    max-height: 500px;
}


.section-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
    min-width: 66%;
    height: 70%;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.section-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 50px;
    max-width: 150px;
    max-height: 150px;
}

.section-logo img{
    width: 100%;
}

.next-logos-button {
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    left: 40%;
    bottom: 30px;
    background-color: transparent;
    font-family: Seravek;
    font-size: 15px;
    color: gray;
    border-style: solid;
    transition: all 0.2s;
}

.next-logos-button:hover{
    color: black;
    scale: 1.01
}


.gallery {
    width: 1200px;
    margin: 23px;
    display: flex;
    overflow-x: scroll;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    position: relative;
    z-index: 100;
}
.gallery::-webkit-scrollbar {
    display: none;
}

.back-panel {
    position: absolute;
    z-index: -100;
    height: 400px;
    width: 1400px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
}

.footer {
    background-color: rgba(184, 184, 184, 0.4);
    margin-top: 150px;
    height: 150px;
    width: 100vw;
    margin-left: -10px;
    margin-bottom: -10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img{
    height: 100px;
}

#next-button {
    transform: rotate(-135deg);
}

#back-button {
    transform: rotate(45deg);
}

.gallery-button{
    transition: 0.2s;
}

.gallery-button:hover {
    cursor: pointer;
    scale: 1.1;
}

.service-list li{
    list-style-type: none;
    margin-bottom: 15px;
    font-weight: 300;
}

ul, ol {
    padding: 0;
    margin: 0;
}
